<div ng-controller="RemoveSubscriberController">
	<a ui-sref="overview" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a>
	<h2>Remove a Subscriber <small>To remove existing subscriber</small></h2>
	<span class="glyphicon glyphicon-dashboard bg-fade"></span>
	

	<form role="form" name="removeSubscriberForm" ng-submit="check()" novalidate>
		<div class="form-group" ng-class="{ 'has-error has-feedback' : removeSubscriberForm.memId.$invalid && !removeSubscriberForm.memId.$pristine }" >
			<div class="col-xs-10">
				<br>
				<label for="memId">Membership Number: </label>
				<input type="number" class="form-control " id="memId" name="memId" placeholder="Enter the Membership ID"
				ng-model="memberId" required>
				<span ng-show="(removeSubscriberForm.memId.$invalid || removeSubscriberForm.memId.$error.required) && !removeSubscriberForm.memId.$pristine" class="help-block">Enter the Membership ID</span>
				<br>

				<button type="submit" class="btn btn-primary" ng-disabled="removeSubscriberForm.$invalid">Check</button>
			</div>			
		</div>
	</form>

	<div ng-show="showDetails">
		<div class="col-xs-10" >
			<br>
			<label for="memId"><h3>The subscriber details are as below: </h3></label>
				<br>
				<div class="table-responsive">
					<table class="table">
						<tr>
							<td><b>Membership Number:</b></td>
							<td>{{subscriber._id}}</td>
						</tr>
						<tr>
							<td><b>Subscriber Name:</b></td>
							<td>{{subscriber.name}}</td>
						</tr>
						<tr>
							<td><b>Contact Number:</b></td>
							<td>{{subscriber.conNum}}</td>
						</tr>
						<tr>
							<td><b>Subscriber Start Data:</b></td>
							<td>{{subscriber.date}}</td>
						</tr>
						<tr>
							<td><b>Subscriber Period:</b></td>
							<td>{{subscriber.subsnperiod}}</td>
						</tr>
						<tr>
							<td><b>Address:</b></td>
							<td>{{subscriber.address}}</td>
						</tr>
					</table>	
				</div>		
		</div>	

		<div class="col-md-10">
			<br>
			<p>Do you really want to delete this subscriber ?</p>
			<button type="button" class="btn btn-success" ng-click="accept()">Yes</button>
			<button type="button" class="btn btn-danger" ng-click="reject()">No</button>
		</div>	
	</div>
	
</div>